.region.custompos{
	top: 35%;
	right: 0;
}

#GPHOTO_BACK {
	display:none;
}

#GPHOTO_CURRENT {
	height: 50%;
	width: 50%;
	top: 35%;
	left: 50%;
}

#GPHOTO_INFO {
	top: 30%;
  	background-color: rgba(0,0,0,0);
}
